@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-dark text-brand-light font-sans;
}

.text-neon-gradient {
  @apply bg-gradient-to-br from-brand-violet-light to-brand-violet;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.card-face {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.neon-glow {
  box-shadow: 0 0 15px rgba(157, 78, 221, 0.6), 0 0 5px rgba(123, 44, 191, 0.8);
}

.neon-glow-hard {
  box-shadow: 0 0 25px rgba(157, 78, 221, 0.8), 0 0 10px rgba(123, 44, 191, 1);
}